<% provide(:title, 'Groups') %>
<h1 class="center">Groups</h1>
<table class="table">
 <thead>
    <tr>
      <th>Name</th>
      <th>¥ Total</th>
      <th>$ Total</th>
      <th>Converted Total</th>
    </tr>
  </thead>
  <tbody>
  	<% @groups.each do |g| %>
	    <tr>
	      <td><%= link_to g.name, g %></td>
        <td><%= number_to_currency(group_yen_total(g.id), :unit => "¥", :precision => 0) %></td>
        <td><%= number_to_currency(group_dollar_total(g.id)) %></td>
        <td><%= number_to_currency(group_converted_total(g.id), :unit => "¥", :precision => 0) %></td>
	    </tr>
	<% end %>      
  </tbody>
</table>