<% provide(:title, @group.name) %>
<h1><%= @group.name %></h1>

<%= link_to "Edit", edit_group_path(@group) %> | 
<%= link_to "Delete", @group, confirm: "Are you sure?", method: :delete %> | 
<%= link_to "Back to Group Index", groups_path %>