@import "bootstrap";

$fridgeblue: #2480de;

.green {
  color: $green;
}

.blue {
  color: $fridgeblue;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

.pink {
  color: #e15ed6;
}

h1 {
  color: $fridgeblue;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: $fridgeblue;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: $fridgeblue;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  color: $fridgeblue;
  font-family: 'Open Sans', sans-serif;
}

.dollar {
  display: none;
}

.nav li a {
  font-family: 'Open Sans', sans-serif;
}

.nav li {
  padding-top: 3px;
}

.nav > li.active {
  border-top: 3px solid #fff;
  padding-top: 0px;
}

.center {
  text-align:center;
}

body {
  background: url('/assets/background.png') repeat;
}

.currency_select {
	margin-left: 0px;
}

.account_select {
	margin-left: 0px;
}

.category_select {
	margin-left: 0px;
}

.group_select {
  margin-left: 0px;
}

.personal_select {
  margin-left: 0px;
}

.liquid_select {
  margin-left: 0px;
}

.navbar .btn {
  margin-top: 8px;
}

#exchange_div {
  margin-top:13px;
}

#chart1 {
  position:relative;
}

#chart2 {
  position:relative;
}

.vis-tool-tip {
  display: none;
  position:absolute;
  left:10px;
  top:10px;
  color: white;
  font-size: 14px;
  background: rgba(0,0,0,0.5);
  padding: 5px 10px 5px 10px;
  -moz-border-radius: 8px 8px;
  border-radius: 8px 8px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #219634;
  stroke-width: 1.5px;
}

#exchange_div {
  margin-right: 25px;
}