@import "bootstrap";

$fridgeblue: #2480de;

.green {
  color: $green;
}

.blue {
  color: $fridgeblue;
}

.white {
  color: $white;
}

.red {
  color: $red;
}

h1 {
  color: $fridgeblue;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: $fridgeblue;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: $fridgeblue;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  color: $fridgeblue;
  font-family: 'Open Sans', sans-serif;
}

.dollar {
  display: none;
}

.nav li a {
  font-family: 'Open Sans', sans-serif;
}

.nav li {
  padding-top: 3px;
}

.nav > li.active {
  border-top: 3px solid #fff;
  padding-top: 0px;
}

.center {
  text-align:center;
}

body {
  background: url('/assets/background.png') repeat;
}

.currency_select {
	margin-left: 0px;
}

.account_select {
	margin-left: 0px;
}

.category_select {
	margin-left: 0px;
}

.group_select {
  margin-left: 0px;
}

.personal_select {
  margin-left: 0px;
}

.liquid_select {
  margin-left: 0px;
}

.navbar .btn {
  margin-top: 8px;
}

#exchange_div {
  margin-top:13px;
}