<h1>Transaction Index</h1>
<ul>
	<% @transactions.each do |t| %>
		<li><%= link_to t.date, t%> <%= t.account.name %></li>
	<% end %>
</ul>
<%= link_to "Create New Transaction", new_transaction_path %>